---
---

<div
  class="justify-center dark text-muted text-sm bg-black dark:bg-white dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="bg-white text-orange-500 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block rounded-md dark:border border-slate-300"
    >LIMITED OFFER</span 
  >
  <a href="/sign-up" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Sign up now and benefit of the early launch discount! »</a
  >

  </a>
</div>
