---
import Features2 from "~/components/widgets/Features2.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Hero from "~/components/widgets/Hero.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Layout from "~/layouts/PageLayout.astro";

const metadata = {
  title: "About us"
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: "https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
      alt: "Caos Image"
    }}
  >
    <Fragment slot="title">
      We have a passion for
      <span class="text-accent dark:text-white highlight"> saving time</span>
    </Fragment>

    <Fragment slot="subtitle">
      We're a team of developers and designers who are passionate about creating
      the best software tools out there to help you save time and be more
      efficient, so you can focus on what you do best.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: "Offices", amount: "4" },
      { title: "Employees", amount: "248" },
      { title: "Templates", amount: "12" },
      { title: "Awards", amount: "24" }
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our tools"
    subtitle="We develop easy to use, web based, tools that help you save time and be more efficient. Our tools are designed to be user friendly and intuitive, so you can get started right away."
    columns={2}
    isBeforeContent={true}
    items={[
      {
        title: "Syncal",
        callToAction: {
          text: "https://syncal.es",
          href: "https://syncal.es"
        },
        icon: "tabler:template"
      },
      {
        title: "Retweetables",
        callToAction: {
          text: "https://retweetabl.es",
          href: "https://retweetabl.es"
        },
        icon: "tabler:template"
      }
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="We strive to provide the best possible service to our customers. We believe in the importance of customer satisfaction and we are committed to providing the best possible experience for our customers."
    items={[
      {
        title: "Customer-centric approach",
        description:
          "Customers are our north star. We are committed to providing the best possible experience for our customers and they guide us to develop new features and fix issues."
      },
      {
        title: "Constant Improvement",
        description:
          "We implement CD/CI (Continuous Deployment/Continuous Integration) practices to ensure that our tools are always up to date and that we are always improving them. Since our tools are web based, you will always have the latest version."
      },
      {
        title: "Ethical Practices",
        description:
          "We NEVER sell your data to third parties. We are committed to protecting your privacy and we are GDPR compliant. We also strive to be as transparent as possible with our customers."
      }
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="We are proud of the recognition we have received from our customers and the industry. We have been awarded several times for our tools and we have received positive feedback from our customers."
    isReversed={true}
    items={[
      {
        title: "Global reach",
        description:
          "Our tools are used by customers all over the world. We have customers in more than 100 countries and our tools are available in multiple languages.",
        icon: "tabler:globe"
      },
      {
        title: "Positive customer feedback and reviews",
        description:
          "Because of our customer-centric approach, we have received positive feedback and reviews from our customers. We are proud of it!",
        icon: "tabler:message-star"
      },
      {
        title: "Awards and recognition as industry experts",
        description:
          "We have been awarded several times for our tools and we have been recognized as industry experts. We are proud of the recognition we have received.",
        icon: "tabler:award"
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Where are we"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: "Spain",
        description: "5678 Lorem Ipsum St, 56789, Madrid"
      }
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={1}
    items={[
      {
        title: "Chat with us",
        description:
          "Contact us for any questions or issues you may have. We are here to help you!",
        icon: "tabler:messages",
        callToAction: {
          text: "Contact",
          href: "/contact"
        }
      }
    ]}
  />
</Layout>
