---
import FAQ from '~/components/landing/FAQ.astro';
import Features from '~/components/landing/Features.astro';
import FooterHero from '~/components/landing/FooterHero.astro';
import Hero from '~/components/landing/Hero.astro';
import Testimonials from '~/components/landing/Testimonials.astro';
import Transformation from '~/components/landing/Transformation.astro';
import PageLayout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import AsSeenOn from '~/components/landing/AsSeenOn.astro';
import Pricing from '~/components/landing/Pricing.tsx';
import demoImage from '../assets/images/demo-image.png';
import DemoAnimation from '../assets/videos/SynCal_animation.svg';
---

<PageLayout>
  <section id="hero" class="scroll-mt-24">
    <Hero />
  </section>

  <!-- <section id="demovideo">
    <DemoVideo />
  </section> -->

  <section id="social-proof">
    <AsSeenOn
      logoLists={[
        {
          title: 'as seen on',
          logos: [
            { name: 'El Referente', icon: 'elreferente-logo', height: 8 },
            { name: 'Gearshift', icon: 'gearshift-logo', height: 8 },
          ],
        },
        {
          title: 'and used by',
          logos: [
            { name: 'Rentake', icon: 'rentake-logo', height: 12 },
            { name: 'Emissary', icon: 'emissary-logo', height: 12 },
          ],
        },
      ]}
    />
  </section>

  <!-- Separator -->
  <div class="w-full max-w-5xl mx-auto px-4 my-5">
    <hr class="border-gray-200" />
  </div>

  <section id="transformation">
    <Transformation />
  </section>

  <section id="how-to-use" class="scroll-mt-24">
    <div class="max-w-6xl mx-auto px-4 py-12">
      <div class="text-center mb-16">
        <h2 class="text-5xl font-bold mb-4">How does it work</h2>
      </div>

      <!-- Numbered list of steps -->
      <div class="flex flex-col gap-4 text-2xl">
        <div>1. 📄 Connect multiple Google or Microsoft accounts</div>
        <div>2. 🤖 Create a sync task to send events from one calendar to another</div>
        <div>3. 🧮 Select what information you want to sync</div>
        <div>4. 📨 SynCal starts syncing everything for you</div>
      </div>
    </div>

    <div class="max-w-4xl mx-auto px-4">
      <!-- <Image src={demoAnimation} alt="Demo preview" class="mx-auto rounded-4xl shadow-lg" loading="lazy" /> -->
      <DemoAnimation />
    </div>
  </section>

  <!-- Separator -->
  <div class="w-full max-w-5xl mx-auto px-4 my-5">
    <hr class="border-gray-200" />
  </div>

  <section id="social-proof">
    <Testimonials />
  </section>

  <section id="features" class="scroll-mt-24">
    <Features />
  </section>

  <section id="faq" class="scroll-mt-24">
    <FAQ />
  </section>

  <section id="pricing" class="scroll-mt-24">
    <Pricing client:only="react" />
  </section>

  <section id="footer-hero">
    <FooterHero />
  </section>
</PageLayout>
