---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Button from '~/components/ui/Button.astro';

import syncalAnimation from "~/assets/images/SynCal_animation.svg?raw"

// Import getpermalink
import { getPermalink} from '~/utils/permalinks';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Start Syncing',
        href: getPermalink('/sign-up'),
        icon: 'tabler:calendar-repeat',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Syncronize your <span class="hidden sm:inline">Google and Outlook</span>  <span
        class="text-accent dark:text-white highlight">calendars</span
      > with ease.
    </Fragment>

    <Fragment slot="subtitle">
      SynCal is a powerful tool that allows you to sync your Google and Outlook calendars in a few simple steps. <span class="font-semibold">Say goodbye to double bookings and missed appointments</span> with our seamless calendar integration.
    </Fragment>

    <Fragment slot="image">
      <!-- <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style> -->
      <Fragment set:html={syncalAnimation} />
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="About us"
    subtitle="We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 4.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Stats Widget ****************** -->

  <hr class="mx-20 border-t border-gray-200 dark:border-gray-700" />

  <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->
<!-- 
  <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Features Widget *************** -->

  <hr class="mx-20 border-t border-gray-200 dark:border-gray-700" />

  <Features
    id="features"
    title="Main features of SynCal"
    subtitle="We provide several simple features to help you manage your calendars with ease."
    columns={3}
    items={[
      {
        title: 'Bydirectional Sync',
        description:
          'Sync your Google and Outlook calendars in both directions, ensuring that all your events and appointments are up to date on both platforms.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Any two calendars',
        description:
          'Sync 2 Google calendars, 2 Outlook calendars, one of each or multiple at the same time. The choice is yours.',
        icon: 'tabler:relation-many-to-many',
      },
      {
        title: 'Customizability',
        description:
          'Easily customizable, you can change the title, color, and other settings of the events that are synced.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Responsive and Mobile-Friendly',
        description: 'Use SynCal anywhere, anytime, on any device. Our platform is fully responsive and mobile-friendly.',
        icon: 'tabler:picture-in-picture',
      },
      
      {
        title: 'No installation',
        description: 'SynCal is a web-based tool, so you don’t need to install any software or plugins to use it.',
        icon: 'tabler:download-off',
      },
      
      {
        title: 'Compatibility',
        description: 'SynCal is compatible with the most popular calendar platforms, including Google Calendar and Outlook.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />


  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Start Syncing',
        href: getPermalink('/sign-up'),
        icon: 'tabler:calendar-repeat',
      },
    ]}
  >
    <Fragment slot="title">
      Start syncing <span class="hidden sm:inline">your calendars</span> today with SynCal.
    </Fragment>

    <Fragment slot="subtitle">
      Say goodbye to double bookings and missed appointments with our seamless calendar integration.
    </Fragment>
  </CallToAction>


  <hr class="mx-20 border-t border-gray-200 dark:border-gray-700" />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What does SynCal do exactly?',
        description:
          'SynCal syncs your Google and Outlook calendars, allowing you to keep both calendars up-to-date automatically. You can create sync tasks to manage how events are synchronized between your calendars.',
      },
      {
        title: 'Can I sync events in both directions?',
        description:
          'Yes, you can set up sync tasks to be unidirectional (one-way) or bidirectional (two-way), depending on your needs. This gives you flexibility in how you want your events to be synced.',
      },
      {
        title: 'Can I have multiple sync tasks running simultaneously?',
        description:
          'Absolutely! You can create and manage multiple sync tasks to handle different synchronization scenarios between your Google and Outlook calendars.',
      },
      {
        title: 'Is it possible to modify event details when syncing?',
        description:
          'Yes, you can choose to modify event details during the syncing process to maintain privacy or to customize how events appear on the other calendar.',
      },
      {
        title: 'How do I ensure my event details remain private?',
        description:
          'When setting up a sync task, you can select options to modify specific details of events such as titles, descriptions, and locations to ensure your privacy is maintained.',
      },
      {
        title: 'Can I sync only events where I am busy or free?',
        description:
          'Yes, you can choose to sync only events where you are busy or free, giving you control over which events are synchronized between your Google and Outlook calendars.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Start Syncing',
        href: getPermalink('/sign-up'),
        icon: 'tabler:calendar-repeat',
      },
    ]}
  >
    <Fragment slot="title">
      Start syncing <span class="hidden sm:inline">your calendars</span> today with SynCal.
    </Fragment>

    <Fragment slot="subtitle">
      Say goodbye to double bookings and missed appointments with our seamless calendar integration.
    </Fragment>
  </CallToAction>
</Layout>
